{% extends "RSLayoutBundle::layout-fluid.html.twig" %}

{% block title %}Statistics about similar items{% endblock %}

{% block h1 %}Statistics about similar items{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                        <th rowspan="2">#</th>
                        <th rowspan="2">Ref. Item</th>
                        <th rowspan="2">NumFound</th>
                        <th rowspan="2">Similar Items</th>
                        <th colspan="2">Dataset</th>
                        <th colspan="2">Language</th>
                        <th colspan="2">Country</th>
                    </tr>
                    <tr>
                        <th>Nb ≠</th>
                        <th>List</th>
                        <th>Nb ≠</th>
                        <th>List</th>
                        <th>Nb ≠</th>
                        <th>List</th>
                    </tr>
                </thead>
                <tbody>
                {% set totalListDataset = 0 %}
                {% set totalListLanguage = 0 %}
                {% set totalListCountry = 0 %}
                {% set totalNumFound = 0 %}
                {% set countIndex = 1 %}

                {% set datasetSimilarityCountTotal = 0 %}
                {% set languageSimilarityCountTotal = 0 %}
                {% set countrySimilarityCountTotal = 0 %}

                {% set totalSI = 0 %}

                {% set arrayTotalNumFound = [] %}

                {% set datasetPourcentageCount = 0 %}
                {% set languagePourcentageCount = 0 %}
                {% set countryPourcentageCount = 0 %}

                {% for itemInfos in returnList %}
                    {% set containerItem = itemInfos['containerItem'] %}
                    {% set item = containerItem['europeana_id'] %}
                    {% set dataset = containerItem['edm_datasetName'] %}
                    {% set language = containerItem['europeana_aggregation_edm_language'] %}
                    {% set country = containerItem['europeana_aggregation_edm_country'] %}
                    {% set thumbnail = containerItem['provider_aggregation_edm_isShownBy'] %}

                    {% set datasetSimilarityCount = 0 %}
                    {% set languageSimilarityCount = 0 %}
                    {% set countrySimilarityCount = 0 %}

                    {% set listDataset = [] %}
                    {% for containerSimilarItem in itemInfos['similarItems'] %}
                        {% if containerSimilarItem['edm_datasetName'] not in listDataset %}
                            {% set listDataset = listDataset|merge([containerSimilarItem['edm_datasetName']]) %}
                        {% endif %}
                    {% endfor %}
                    {% set totalListDataset = totalListDataset+(listDataset|length) %}

                    {% set listLanguage = [] %}
                    {% for containerSimilarItem in itemInfos['similarItems'] %}
                        {% if containerSimilarItem['europeana_aggregation_edm_language'] not in listLanguage %}
                            {% set listLanguage = listLanguage|merge([containerSimilarItem['europeana_aggregation_edm_language']]) %}
                        {% endif %}
                    {% endfor %}
                    {% set totalListLanguage = totalListLanguage+(listLanguage|length) %}

                    {% set listCountry = [] %}
                    {% for containerSimilarItem in itemInfos['similarItems'] %}
                        {% if containerSimilarItem['europeana_aggregation_edm_country'] not in listCountry %}
                            {% set listCountry = listCountry|merge([containerSimilarItem['europeana_aggregation_edm_country']]) %}
                        {% endif %}
                    {% endfor %}
                    {% set totalListCountry = totalListCountry+(listCountry|length) %}

                    {% set totalSI = totalSI+(itemInfos['similarItems']|length) %}

                    {% for containerSimilarItem in itemInfos['similarItems'] %}
                        <tr>
                            {% if loop.index == 1 %}
                            <td rowspan="{{ (itemInfos['similarItems']|length)+1 }}">{{ countIndex }}{% set countIndex = countIndex+1 %}</td>
                            <td rowspan="{{ (itemInfos['similarItems']|length)+1 }}">
                                <div><strong><a href="http://www.europeana.eu/portal/en/record{{ item }}.html" target="_blank">{{ item|slice(0, 20) }}{% if item|length > 20 %}...{% endif %}</a></strong></div>
                                <div><a href="http://www.europeana.eu/portal/en/search?q=edm_datasetName%3A%22{{ dataset }}%22" target="_blank" title="{{ dataset }}">{{ dataset|slice(0, 20) }}{% if dataset|length > 20 %}...{% endif %}</a></div>
                                {% if thumbnail != null and profile == 'rich' %}
                                    <div><img src="{{ thumbnail }}" class="thumbnail" style="max-height: 100px; max-width: 100px;" /></div>
                                {% endif %}
                            </td>
                            <td rowspan="{{ (itemInfos['similarItems']|length)+1 }}">{{ itemInfos['numFound'] }}{% set totalNumFound = totalNumFound+itemInfos['numFound'] %}{% set arrayTotalNumFound = arrayTotalNumFound|merge({ (loop.index0): itemInfos['numFound']}) %}</td>
                            {% endif %}
                            <td>
                                <div><a href="http://www.europeana.eu/portal/en/record{{ containerSimilarItem['europeana_id'] }}.html" target="_blank" title="{{ containerSimilarItem['europeana_id'] }}">{{ containerSimilarItem['europeana_id']|slice(0, 20) }}{% if containerSimilarItem['europeana_id']|length > 20 %}...{% endif %}</a></div>
                                {% if containerSimilarItem['provider_aggregation_edm_isShownBy'] != null and profile == 'rich' %}
                                    <div><img src="{{ containerSimilarItem['provider_aggregation_edm_isShownBy'] }}" class="thumbnail" style="max-height: 100px; max-width: 100px;" /></div>
                                {% endif %}
                            </td>
                            {% if loop.index == 1 %}
                                <td rowspan="{{ (itemInfos['similarItems']|length)+1 }}">{{ listDataset|length }}</td>
                            {% endif %}
                            <td>
                                {% if containerSimilarItem['edm_datasetName'] == dataset %}
                                    <span class="text-primary">Yes</span>
                                    {% set datasetSimilarityCount = datasetSimilarityCount+1 %}
                                    {% set datasetSimilarityCountTotal = datasetSimilarityCountTotal+1 %}
                                {% else %}<span class="text-warning">No</span>
                                {% endif %}
                            </td>
                            {% if loop.index == 1 %}
                                <td rowspan="{{ (itemInfos['similarItems']|length)+1 }}">{{ listLanguage|length }}</td>
                            {% endif %}
                            <td>
                                {% if containerSimilarItem['europeana_aggregation_edm_language'] == language %}
                                    <span class="text-primary">Yes</span>
                                    {% set languageSimilarityCount = languageSimilarityCount+1 %}
                                    {% set languageSimilarityCountTotal = languageSimilarityCountTotal+1 %}
                                {% else %}<span class="text-warning">No</span>
                                {% endif %}
                            </td>
                            {% if loop.index == 1 %}
                                <td rowspan="{{ (itemInfos['similarItems']|length)+1 }}">{{ listCountry|length }}</td>
                            {% endif %}
                            <td>
                                {% if containerSimilarItem['europeana_aggregation_edm_country'] == country %}
                                    <span class="text-primary">Yes</span>
                                    {% set countrySimilarityCount = countrySimilarityCount+1 %}
                                    {% set countrySimilarityCountTotal = countrySimilarityCountTotal+1 %}
                                {% else %}<span class="text-warning">No</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr class="warning">
                            <td rowspan="2">{{ loop.index }}</td>
                            <td rowspan="2">
                                <div><strong><a href="http://www.europeana.eu/portal/en/record{{ item }}.html" target="_blank">{{ item|slice(0, 20) }}{% if item|length > 20 %}...{% endif %}</a></strong></div>
                                <div><a href="http://www.europeana.eu/portal/en/search?q=edm_datasetName%3A%22{{ dataset }}%22" target="_blank" title="{{ dataset }}">{{ dataset|slice(0, 20) }}{% if dataset|length > 20 %}...{% endif %}</a></div>
                                {% if thumbnail != null and profile == 'rich' %}
                                    <div><img src="{{ thumbnail }}" class="thumbnail" style="max-height: 100px; max-width: 100px;" /></div>
                                {% endif %}
                            </td>
                            <td rowspan="2">0</td>
                            <td><strong>No items</strong></td>
                            <td colspan="2"><span class="text-danger">ND</span></td>
                            <td colspan="2"><span class="text-danger">ND</span></td>
                            <td colspan="2"><span class="text-danger">ND</span></td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <th>{{ itemInfos['similarItems']|length }} similar items</th>
                            <th colspan="2">
                                {% if itemInfos['similarItems']|length > 0 %}
                                    {{ ((datasetSimilarityCount*100)/(itemInfos['similarItems']|length))|round(2, 'floor') }}%
                                    {% set datasetPourcentageCount = datasetPourcentageCount+((datasetSimilarityCount*100)/(itemInfos['similarItems']|length)) %}
                                {% else %}No data
                                {% endif %}
                            </th>
                            <th colspan="2">
                                {% if itemInfos['similarItems']|length > 0 %}
                                    {{ ((languageSimilarityCount*100)/(itemInfos['similarItems']|length))|round(2, 'floor') }}%
                                    {% set languagePourcentageCount = languagePourcentageCount+((languageSimilarityCount*100)/(itemInfos['similarItems']|length)) %}
                                {% else %}No data
                                {% endif %}
                            </th>
                            <th colspan="2">
                                {% if itemInfos['similarItems']|length > 0 %}
                                    {{ ((countrySimilarityCount*100)/(itemInfos['similarItems']|length))|round(2, 'floor') }}%
                                    {% set countryPourcentageCount = countryPourcentageCount+((countrySimilarityCount*100)/(itemInfos['similarItems']|length)) %}
                                {% else %}No data
                                {% endif %}
                            </th>
                        </tr>
                {% endfor %}
                    {% set arrayTotalNumFound = arrayTotalNumFound|sort %}
                    <tr>
                        <th>#</th>
                        <th>AVERAGE</th>
                        <th>{{ (totalNumFound/(returnList|length))|round(2, 'floor') }} Res per RI<br />
                            {{ arrayTotalNumFound[((arrayTotalNumFound|length)+1)/2] }}</th>
                        <th>{{ (totalSI/(returnList|length))|round(2, 'floor') }} SI per RI</th>
                        <th>{{ ((totalListDataset)/(returnList|length))|round(2, 'floor') }} DS per RI</th>
                        <th>{{ ((datasetSimilarityCountTotal*100)/totalSI)|round(2, 'floor') }}%</th>
                        <th>{{ ((totalListLanguage)/(returnList|length))|round(2, 'floor') }} La per RI</th>
                        <th>{{ ((languageSimilarityCountTotal*100)/totalSI)|round(2, 'floor') }}%</th>
                        <th>{{ ((totalListCountry)/(returnList|length))|round(2, 'floor') }} Co per RI</th>
                        <th>{{ ((countrySimilarityCountTotal*100)/totalSI)|round(2, 'floor') }}%</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript_sub %}
    {{ parent() }}
{% endblock %}