{% extends "DSGAdministrationBundle::layout.html.twig" %}

{% block title %}Europeana - DataSet Generator{% endblock %}

{% block h1 %}Europeana - DataSet Generator{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <a href="{{ path('dsg_administration_home_test') }}">Test mail</a>
            <table class="table table-bordered table-striped">
                <caption>EuropeanaItems list</caption>
                <tr>
                    <th>#</th>
                    <th>URI</th>
                </tr>
                {% for europeanaItem in europeanaItems %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ europeanaItem.URI }}">{{ europeanaItem.URI }}</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td>#</td>
                        <td>No result ...</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript_sub %}
    {{ parent() }}
{% endblock %}